.back_img {
    height: 100vh;
    width: 100vw;
    background-image: url(./main.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    margin: 0;
    padding: 0;
    border: none;
}

#date_box {
    margin-left: 30px;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 20px;
}

body {
    margin: 0;
    padding: 0;
    border: none;
}

#main_cont {
    position: fixed;
    width: 100%;
    top: 189px;
    margin: 0;
    padding: 0;
    border: none;
}

.menu_bar {
    background-image: url("./footer.png");
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    height: 125px;
}

#dot_bar {
    margin: 0;
    padding: 0;
    border: none;
}

#btn_bar {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 90px;
}


.dot_bar {
    margin-top: 5px;
    width: 33%;
    float: left;
    font-weight: 700;
}

.btn_bar {
    width: 33%;
    float: left;
}

.hd_btn {
    border: solid rgb(107, 45, 45) 2px;
    border-radius: 10px;
    background-color: rgba(51, 44, 36, 0.5);
    color: beige;
}

#header {
    background-image: url("./header.png");
    position: fixed;
    width: 100%;
    height: 189px;
}

#title {
    text-align: left;
    margin-left: 20px;
    height: 89px;
}

#title2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 20px;
}

.title {
    text-align: center;
    margin-top: 50px;
    vertical-align: middle;
    float: left;
    height: 53px;
}

#theme {
    margin-top: 15px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    height: 65px;
}

#theme p {
    margin: 0;
}

#title2 {
    width: 70px;
    height: 50px;
    vertical-align: middle;
}

.read_box {
    margin: 10px;
    height: 100px;
    border: rgb(107, 45, 45) solid 2px;
    border-radius: 15px;
    font-size: 1.1rem;
    box-shadow: 3px 3px;
}

.read_t {
    font-weight: 700;
    margin: 0;
    padding-left: 5px;
}

.read_inbox {
    height: 69px;
}

.read_m {
    margin: 0;
    padding-left: 5px;
}

.read_btn {
    margin: 0;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 1.2rem;
    text-align: right;
}

#read_list {
    width: 100%;
}

#read_hd {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 9px;
}

.sort_btn {
    margin-right: 10px;
    border: solid 2px rgb(107, 45, 45);
    font-weight: 700;
    text-align: center;
    border-radius: 10px;
}

#read_pager {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 9px;
    bottom: 0;
}

#pager_btn {
    margin-right: 10px;
    font-weight: 700;
    text-align: center;
    text-decoration: underline black 1px;
    background-color: rgba(181, 137, 86, 0.5);
}

#box {
    border: rgb(107, 45, 45) solid 3px;
    margin: 20px;
    margin-top: 10px;
    border-radius: 20px;
    padding: 0;
    text-align: center;
}

#box_input {
    width: 92%;
    margin: 5px;
    background-color: rgba(240, 248, 255, 0);
    border: none;
    font-size: 1.1rem;
}

.cont_box {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
}

#finish {
    text-align: right;
    width: 100%;
    position: fixed;
}

#finish_btn {
    margin-right: 30px;
    background-color: rgba(240, 248, 255, 0);
    border: solid black 3px;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    text-align: center;
    color: rgb(70, 91, 250);
    font-size: 1.3rem;
    font-weight: 700;
}

/* 0128 수정 시작 */
.follow_count {
    position: relative;
    left: 10%;
    top: 1em;
    font-size: 20px;
    font-weight: bolder;
    color:rgb(107, 45, 45);
}
.liked_count {
    position: relative;
    left: 53%;
    top: 1em;
    font-size: 20px;
    font-weight: bolder;
    color:rgb(107, 45, 45);
}
.follow_count2 {
    position: relative;
    left: 17%;
    top: 0.5em;
    font-size: 20px;
    font-weight: bolder;
    color:rgb(107, 45, 45);
}
.liked_count2 {
    position: relative;
    left: 71%;
    top: 0.5em;
    font-size: 20px;
    font-weight: bolder;
    color:rgb(107, 45, 45);
}
.circle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border-color: brown;
}
#heart_btn {
    position: relative;
    left: 4em;
    width: 16%;
    height: 5%;
}
#follower_btn {
    position: relative;
    left: 14em;
    width: 16%;
    height: 5%;
}
.name {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    color:rgb(54, 38, 20);
    margin-bottom: -0.3em;
}
.follow_box {
    margin: 10px 10px 20px 10px;
    height: 60px;
    border: rgb(107, 45, 45) solid 2px;
    border-radius: 15px;
    font-size: 1.1rem;
    box-shadow: 2px 2px;
}
.follow_t{
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding-left: 5px;
    text-align: center;
    margin-bottom: -0.2em;
}
.follow_inbox {
    height: 69px;
}
.follow_m {
    margin: 0;
    padding-left: 5px;
    text-align: right;
}
.follow_btn {
    margin: 0;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 1.2rem;
    text-align: right;
}
#follow_list {
    width: 100%;
}
#follow_hd{
    text-align: right;
    margin-top: 10px;
    margin-bottom: 9px;
    color: beige;
}
/* 0128 수정 끝 */